

@{
    ViewBag.Title = "Weather";
}

<h2 class="marginBottom30">Select One Option</h2>

<div class="mb-3"><a asp-controller="Weather" asp-action="InsertWeather" class="btn btn-primary w-25"><i class="bi bi-plus"></i> InsertWeather</a></div>
<div class="mb-3"><a asp-controller="Weather" asp-action="WeatherHistory" class="btn btn-primary w-25"><i class="bi bi-archive"></i> Weather History</a></div>
<div class="mb-3"><a asp-controller="Weather" asp-action="AverageWeather" class="btn btn-primary w-25"><i class="bi bi-pencil"></i> Average Weather</a></div>
<div class="mb-3"><a asp-controller="Weather" asp-action="WeatherUpdate" class="btn btn-primary w-25"><i class="bi bi-pencil"></i> Weather Update</a></div>
